* {
    padding: 0px;
    margin: 0px;
    
}

body {
    background-image: url(Lock\ Screen.jpg);
    background-position: center;
    background-size: cover;

}
header{
    background-color: lightcyan;
    height: 50px;
}
a{
    text-decoration: none;
    margin-right: 200px;
}
#mysite{
    font-size: 20px;
    margin-top: 25px;
}
button{
    background-color: darkslateblue;
    color: white;
}

h1 {
    color: white;
    text-decoration: underline;
    margin-bottom: 20px;
}

div {
    height: 250px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}

#box1 {
    background-color: black;
    text-decoration: underline;
    color: aliceblue;
    background-image: url(main.jpg);
    background-position: center;
    background-size: cover;
}

#box2 {
    color: aliceblue;
    text-decoration: underline;
    background-image: url(Masjid.jpg);
    background-position: center;
    background-size: cover;
}

#box3 {
    text-decoration: underline;
    color: aliceblue;
    background-image: url(building.jpg);
    background-position: center;
    background-size: cover;
}

#box4 {
    color: aliceblue;
    text-decoration: underline;
    background-image: url(garden.jpg);
    background-position: center;
    background-size: cover;
}
p{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}
footer {
    margin-top: 500px;
    background-color: lightcyan;
    height: 50px;
    text-align: center;
    padding-top: 25px;
}
#clickme{
    background-color: darkslateblue;
    color: white;
    text-decoration: none;
    margin-left: 11px;
}